.background-footer{
    background-color: #212529;
}
.footer-all {
    position: relative;
    bottom: 0;
    background-color: #212529;
    box-sizing: border-box;
    width: 100%;
    font-family: Playfair Display;
    text-align: center;
    font-weight: bold;
    color: white;
}

.footer-info {
    position: relative;
    bottom: 0;
    background-color: #212529;
    box-sizing: border-box;
    width: 100%;
    font-family: Playfair Display;
    text-align: center;
    font-weight: bold;
    color: white;
}

.footer-all .footer-left, .footer-distributed .footer-right {
text-align: center;
}
#links{
  text-decoration: none;
  color: White;
}